

/**
 * Comment
 */
.File_A body {
	width: 100px;
	margin: 0 auto;
}

.File_A div {
/*	width: 100px; */
	margin: 0 auto;
}


/**
 * Comment
 */
.File_B {
	border-radius: 9px;
}


/**
 * Comment
 */
.File_C body {
	background: url(/image.png);
	background: url(" { , { ;}");
	background: url(' { , { ;}');
}

q:before {
	content: '';
}

q:after {
	content: "";
}


/**
 * Comment
 */
.File_D body {
	margin: 0 auto;
}


/**
 * Comment
 */
.File_E body {
	margin: 0 auto;
}
